<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Flight</title>
</head>
<body>

<h1><p align="center">Add Flight</p></h1>
<br><br><br>
<form action="addFlightData" method="post" >
	<pre>
	Flight Number            :  <input type="text" name="flightNumber"><br><br>
    Operating Airlines       :  <input type="text" name="operatingAirlines"><br><br>
    Departure City           :  <input type="text" name="departureCity"><br><br>
    Arrival City             :  <input type="text" name="arrivalCity"><br><br>
    Date of Departure        :  <input type="date" name="dateOfDeparture"><br><br>
    Estimated departure Time : <input type="datetime-local" name="estimatedDepartureTime"><br><br>
    <input type="submit" value="Add Flight">
    </pre>
</form>


<a href="../index"> <h5><---Back </h5></a>
</body>
</html>